{% extends 'base.html.twig' %}

{% block body %}
    <h1>Email</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ email.id }}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ email.emailAddress }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ email.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email_index') }}">Wróć do listy</a>
        </li>
    </ul>
{% endblock %}