
{% if matchingPerson %}
    <ul>
        {%for person in matchingPerson %}
            <li><a href="{{path('person_show', {'id': person.id})}}">{{person.name ~ ' ' ~person.surname}}</a></li>
            {%endfor%}
        <li>
            <a href="{{ path('person_index') }}">Powrót do strony głównej</a>
        </li>
    </ul>
{% else %}
    <div><a href="{{ path('person_index') }}">Brak takiej osoby. Powrót do strony głównej</a></div>    
{%endif%}